body {
    font-family: 'Open Sans', sans-serif;
    font-size  : 14px;
    line-height: 1.42857143;
    color      : #555;
}

#loja {
    margin    : 0 auto;
    padding   : 25px;
    background: #efefef;
    overflow  : hidden;
}

.col-3 {
    width     :33%;
    box-sizing: border-box;
    padding   : 15px;
    position  : relative;
    float     : left;
}

.col-4 {
    width     :25%;
    box-sizing: border-box;
    padding   : 15px;
    position  : relative;
    float     : left;
}

.col-product {
    width     :66%;
    box-sizing: border-box;
    padding   : 15px;
    position  : relative;
    float     : left;
}

.product {
    background        : #fff;
    border-bottom     : dotted 1px #e6e6e6;
    box-sizing        : border-box;
    overflow          : hidden;
    text-align        : center;
}

    .product .image {
        overflow: hidden;
        position: relative;
    }

        .product .image img {
            -webkit-transition: all .2s ease-out;
            -moz-transition   : all .2s ease-out;
            transition        : all .2s ease-out;
        }

.product .text {
    padding: 10px;
}

    .product .text h3 {
        font-size: 20px;
        height: 43.2px;
        margin-bottom: 0;
    }

        .product .text h3 a {
            color:#555;
            text-transform: uppercase;
            text-decoration: none;
        }
    
        .product .text p.price {
            font-size:18px
        }

.img-responsive {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/*VITRINE*/
#align-left {
    text-align : left !important;
}

.btn-comprar {
    background: blue;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.gerenciarProdutos {
    
    max-width: 75%;
    margin: 0 auto;

}

/*TABELA*/

table {
    
    max-width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
    td.err {
        background-color: #e992b9;
        color: #fff;
        font-size: 0.75em;
        text-align: center;
        line-height: 1;
    }
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
    background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}


/*Buscar form*/
form.buscar {
    width: 30%;
    padding: 20px 0px;
    float: right;
}

form.buscar input[type="text"] {
    padding: 8px 10px;
    width: 200px;
}

form.buscar input[type="submit"] {
    padding: 5px 10px;
    width: 62px;
}


/**FORM CADASTRO*/
.cadastro-form input, .cadastro-form textarea {
    
    padding: 8px 15px;
    width: 600px;
    margin: 0 0 20px 0; 
}

.cadastro-form input[type="submit"] {
    width: 180px;
    border: none;
    background: blue;
    color: #fff;
}

.botao {
    border: none;
    background: blue;
    color: #fff;
    padding: 8px 15px;
    margin: 15px 0 0 0;
    display: block;
    position: relative;
    float: left;
    text-decoration: none;
}